body{
   background-color: #FFFFCC;
}

.form{
    margin-top: 120px;
}

h1{
  font-size: 85px;
  transform: skewX(-20deg);
  color: #6699FF;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.button-container{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.float-end{
    padding: auto;
    margin: auto;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    display: block;
    color: #444444;
    background-color: #6699FF;
    font-size: 50px;
}