<!DOCTYPE html>
<html xmlns="http://www3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <title>情報編集</title>
</head>
<body>
    <div class="container">
        <h1>情報編集</h1>

        <form>
            <div class="form-item">
                <p class="Form-Item-Label">★姓</p>
                <input type="text" class="Form-Item-Input" th:field="">
            </div>
            <div class="form-item">
                <p class="Form-Item-Label">★名</p>
                <input type="text" class="Form-Item-Input" th:field="">
            </div>
            <div class="form-item">
                <p class="Form-Item-Label">★郵便番号</p>
                <input type="text" class="Form-Item-Input" th:field="">
            </div>
            <div class="form-item">
                <p class="Form-Item-Label">★住所</p>
                <input type="text" class="Form-Item-Input" th:field="">
            </div>
            <div class="form-item">
                <p class="Form-Item-Label">電話番号</p>
                <input type="text" class="Form-Item-Input" th:field="">
            </div>
            <div class="form-item">
                <p class="Form-Item-Label">備考</p>
                <input type="text" class="Form-Item-Input" th:field="">
            </div>
            <div class="button-container">
                <a href="" class="button-secondary">戻る</a>
                <input type="submit" value="登録" class="btn button-primary">
            </div>
        </form>

    </div>
</body>
</html>