<!DOCTYPE html>
<html xmlns="http://www3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>ホーム</title>
</head>
<body>
    <div class="form">
        <h1>ADDRESS BOOK</h1>

        <div class="button-container">
         <button type="button" class="float-end" onclick="location.href='/user/list'">住所録</button>
         <button type="button" class="float-end" onclick="location.href='/user/add'">登録</button>
        </div>
    </div>
</body>
</html>